*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
html{
  font-size: 62.5%;
}
 
body{
  font-size: 2rem;
  background: linear-gradient(0deg, rgba(237,241,214,1) 0%, rgba(217,248,124,1) 60%, rgba(195,253,132,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-shrink: 0;
  flex-wrap: wrap;
}

header > img{
  width: 15rem;
  height: 10rem;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-shrink: 0;
  flex-wrap: wrap;
}
 
.card{
  width: 25rem;
  height: 15rem;
  background: #9DC08B;
  border-radius: 1rem;
  box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  gap: 30rem;
  margin: 5rem; 
  margin-top: 0;
  color: #EDF1D6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--2{
  font-size: 1.5rem;
}

.card--2 > p{
  width: 2rem;
  height: 1rem;
  color: red;
}
 
.card--7{
  width: 70rem;
  height: 55rem;
}



/* 
je zet bijna nooit position absolute op iets
inplaats daarvan heb ik flex-shrink en flex-wrap gebruikt.

.card 7{
  position: absolute;
  bottom: 0;
  right: 0; 
}

.section-1{
  position: absolute;
  bottom: 0;
}

.section-2{
  position: absolute;
  bottom: 0;
  left: 400px;
}
*/