*{padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
 
 html{
     font-size: 62.5%;
 }
 
 body{
     font-size: 1rem;
     background: #EDF1D6;
     display: flex;
     display: flex;

   }
 
 .card{
   width: 25rem;
   height: 15rem;
   background: #9DC08B;
   border-radius: 1rem;
   box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2);
   gap: 30rem;
   margin: 5rem; 
 }

 .card--1{
  display: flex;
  color: #EDF1D6;
  font-size: 2rem;
  justify-content: center;
  
 }
 
.card--7{
    width: 80rem;
    height: 55rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-1{
  position: absolute;
  bottom: 0;
}

.section-2{
  position: absolute;
  bottom: 0;
  left: 400px;
}